<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <nav class="navbar">
    
    <ul class="dashboard">
    
      <li class="nav"><a href="/" id="logout">Logout</a></li>
      
      <li class="nav"><a href="/">Home</a></li>
     
      <li class="title"><a href="/board">Dashboard</a></li>
      
    </ul>
  </nav>
    <br>
    <button onclick="window.location.href='/board/new'">New Post </button>

    <main>
    {{{body}}}
    </main>

<script src="/js/logout.js"></script>

</body>

</html>