    <div>
    <form id="login-form">
      
        <div class="container">
          <h2>Login</h2>
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" id="login-uname" required>
      
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" id="login-psw" required>
              
          <button class="login-button" id="login-btn"type="submit">Login</button>
        </div>
      
    </form>

    <form id="signUp-form">
      
        <div class="container">
          <h2>Sign-Up</h2>
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" id="username"required>
      
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" id="password-id" required>
              
          <button class="login-button" id="signup-btn" type="submit">Sign-Up</button>
        </div>
      
    </form>
    </div>
      
  
  <script src="./js/login.js"></script>
  
